<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/estilos.css') }}">
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="/register">
        <label>Nombre:</label>
        <input type="text" name="nombre"><br>
        <label>Email:</label>
        <input type="email" name="email"><br>
        <label>Contraseña:</label>
        <input type="password" name="contraseña"><br>
        <input type="submit" value="Registrar">
        <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>
    </form>
</body>